[Server]
host = 127.0.0.1
port = 80
debug = True
maximum_threads = 128
kas_service_token = ******
public_address = cp.keeer.net
[Database]
host = 127.0.0.1
port = 5432
database = CloudPrintRemote
user = postgres
password = ******