body {
    flex-direction: column;
}
.file-drop-container {
    display: flex;
    margin: 0;
    
}
.file-drop-zone {
    width: 80vw;
    border: 1px dashed var(--mdc-theme-primary);
    border-radius: 20px;
    padding: 16px;
    margin: 8px;
    
    transition: box-shadow 0.3s ease;
}
.file-drop-zone__focused{
    box-shadow: inset 0 0 4px 2px var(--mdc-theme-primary);
    
}

.file-drop__helper {
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.printer-card {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.printer-card__logo {
    border-radius: 50%;
    max-width: 30%;
    margin-right: 16px;
}

.printer-card__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;

}
.printer-card__status {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.printer-status {
    margin-right: 8px;
}
.printer-status__avaliable {
    color: greenyellow;
}
.printer-status__busy {
    color: yellow;
}
.printer-status__unavaliable {
    color: red;
}
.printer-status__fixing {
    color: purple;
}
.mdc-typography--headline5 {
    margin: 8px 0 0 0;
}
@media(max-width: 720px) {
    .printer-card {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
