body {
    flex-direction: column;
}
.file-drop-container {
    display: block;
    margin: 16px;
}
.file-drop-zone {
    border: 1px dashed var(--mdc-theme-primary);
    width: 60vw;
    height: 60vh;
    border-radius: 20px;
    padding: 64px;
    
    transition: box-shadow 0.3s ease;
}
.file-drop-zone__focused{
    box-shadow: inset 0 0 4px 2px var(--mdc-theme-primary);
    
}

.file-drop__helper {
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.printer-card {
    padding: 16px;
    display: flex;
    flex-direction: row;
}
.printer-card__logo {
    border-radius: 50%;
    max-width: 30%;
    margin-right: 16px;
}

.printer-card__content {
    display: flex;
    flex-direction: column;
    text-align: end;

}
.printer-card__status {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.printer-status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}
.printer-status__avaliable {
    background-color: greenyellow;
}
.printer-status__busy {
    background-color: yellow;
}
.printer-status__unavaliable {
    background-color: red;
}
.printer-status__fixing {
    background-color: purple;
}
