.question-and-answer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 16px;
}
.question-and-answer-panel {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 16px;
    max-width: 640px;
    min-width: 300px;
    margin-top: 16px;
}