{% extends 'framework.html' %}

{% block title %} 上传文件 | Cloud Print {% endblock title%}

{% block stylesheet%}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock stylesheet %}
{% block header%}
  <span>您的 Kredit 余额<span id="kredit"> ? </span>元</span>
{% endblock header%}
{% block content %}
<div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate" id="printer-loading">
  <div class="mdc-linear-progress__buffering-dots"></div>
  <div class="mdc-linear-progress__buffer"></div>
  <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
    <span class="mdc-linear-progress__bar-inner"></span>
  </div>
  <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
    <span class="mdc-linear-progress__bar-inner"></span>
  </div>
</div>
  <div class="mdc-card printer-card">
    <img class="printer-card__logo" id="printer-logo" src="/static/img/logo.png" />
    <div class="printer-card__content">
      <h5 class="mdc-typography--headline5" style="margin: 0 10px 0 0;"id="printer-info">ICC楼四层东侧</h5>
      <div class="printer-card__status">
        <span clas="mdc-typography--body1">打印机：</span>
        <span class="printer-status printer-status__unavaliable" id="bw-printer-status-icon"> ⬤</span>
        <span clas="mdc-typography--body1" id="bw-printer-status">不可用</span>
      </div>
      <!--
      <div class="printer-card__status">
        <span clas="mdc-typography--body1">彩色打印机：  </span>
        <span class="printer-status printer-status__unavaliable" id="color-printer-status-icon"> ⬤</span>
        <span clas="mdc-typography--body1" id="color-printer-status">不可用</span>
      </div>
      -->
      <span clas="mdc-typography--body1" id="printer-description">描述：这是一台打印机</span>
    </div>
  </div>
  <div class="file-list-container" id="job-list">
  </div>
  <div class="file-drop-zone" id="file-zone">
    <span class="mdc-typography--headline5 drag-info" id="upload-info">☺️ 拖拽您要打印的文件到这里</span>
    <p class="drag-info">或者</p>
    <div>
      <button onclick="javascript: document.getElementById('file').click();" class="mdc-button mdc-button--raised">选择一个文件</button>
    </div>
  </div>
  <div class="mdc-dialog"
    id="go-print-dialog"
    role="printdialog"
    aria-modal="false"
    aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
      -->您的打印码<!--
    --></h2>
        <div class="mdc-dialog__content"> 
          <h3 class="mdc-typography--headline3"id="print-code"></h3>
          <span class="mdc-typography--body1">走到打印机前，输入上方的四个数字 即可立刻打印您的文件</span>
          <p></p>
          <span class="mdc-typography--body1">您未打印的文件将被保存24小时</span>
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
            <span class="mdc-button__label">关闭</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>
  
  <div class="mdc-dialog"
    id="alert-dialog"
    role="alertdialog"
    aria-modal="false"
    aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
      -->提示<!--
    --></h2>
        <div class="mdc-dialog__content"> 
          <h3 class="mdc-typography--headline3"id="alert-message"></h3>
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
            <span class="mdc-button__label">关闭</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  <div class="mdc-dialog"
    id="recharge-dialog"
    role="alertdialog"
    aria-modal="false"
    aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
      -->您的 Kredit 余额可能不足以支持打印！<!--
    --></h2>
        <div class="mdc-dialog__content"> 
          <span class="mdc-typography--body">当前打印任务共计：<span id="total-price"></span> 元</span>
          <p></p>
          <span class="mdc-typography--body">您当前的 Kredit 余额：<span id="total-kredit"></span> 元</span>
          <p></p>

        </div>
        <footer class="mdc-dialog__actions">
          <a class="mdc-button mdc-dialog__button" href="https://account.keeer.net/recharge" target="_blank">
            去充值
          </a>
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
            <span class="mdc-button__label">我知道了</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  <div class="mdc-dialog"
    id="loading-dialog"
    role="loadingdialog"
    aria-modal="false"
    aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="loading-title"><!--
      -->请稍候…<!--
    --></h2>
        <div class="mdc-dialog__content"> 
          <img src="https://static.wixstatic.com/media/90541a_d3cf42a02fb448a5ad933227b77ff7e8~mv2.gif" />
        </div>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  <div class="mdc-dialog"
    id="debt-dialog"
    role="debtdialog"
    aria-modal="false"
    aria-labelledby="my-dialog-title"
    aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="loading-title"><!--
      -->您有尚未结算的打印金额！<!--
    --></h2>
        <div class="mdc-dialog__content"> 
          <span>请充值以继续使用该服务</span>
          <p></p>
          <span>您目前至少需要支付：<span id="debt"></span>元</span>
        </div>
        <footer class="mdc-dialog__actions">
          <a class="mdc-button mdc-dialog__button" href="https://account.keeer.net/recharge">
            充值
          </a>
        </footer>
      </div>
      
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>
  
<input id="file" type="file" accept="application/pdf" style="display: none;" />
{% endblock content %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@material/dialog@2.3.0/dist/mdc.dialog.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@material/switch@2.3.0/dist/mdc.switch.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@material/auto-init@2.3.0/dist/mdc.autoInit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@material/textfield@2.3.0/dist/mdc.textfield.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@material/dialog@2.3.0/dist/mdc.dialog.min.js"></script>
<script id="jobTemplate" language="x/template">
  <div class="mdc-card job-card" id="job-::code::">
    <div class="job-card--content">
    <span class="mdc-typography--headline5 job-title">::jobTitle::</span>
    <span class="mdc-typography--body">共 <span id="page-number-::code::">::pageNumber::</span> 页；
                                          <span id="price-::code::">::price::</span> 元
    </span>
    </div>
    <div class="job-card--options">
      <div class="switch">
        <div class="mdc-switch" id="ds-switch-::code::" data-mdc-auto-init="MDCSwitch">
          <div class="mdc-switch__track"></div>
          <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb">
              <input type="checkbox" id="double-sided-switch-::code::" class="mdc-switch__native-control" role="switch" />
            </div>
          </div>
        </div>
        <label for="double-sided-switch">双面打印</label>
      </div>
      <div class="switch">
        <div class="mdc-switch" id="c-switch-::code::" data-mdc-auto-init="MDCSwitch">
          <div class="mdc-switch__track"></div>
          <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb">
              <input type="checkbox" id="color-switch-::code::" class="mdc-switch__native-control" role="switch" />
            </div>
          </div>
        </div>
        <label for="color-switch">彩色打印</label>
      </div>

      <div class="mdc-text-field mdc-text-field--outlined copies" id="c-::code::" data-mdc-auto-init="MDCTextField">
        <input id="copies-::code::" type="number" min="1" step="1" class="mdc-text-field__input" value="1" />
        <div class="mdc-notched-outline mdc-notched-outline--upgraded">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch" style="">
            <label for="copies-::code::" class="mdc-floating-label mdc-floating-label--float-above" style="">打印份数</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>

    <div class="job-card--actions">
      <button id="go-print-::code::" class="mdc-button mdc-button--raised">去打印</button>
      <button id="delete-job-::code::" class="mdc-button mdc-button--outlined">删除任务</button>
    </div>
    <input type="file" style="display: none;" id="file-body"></input>
  </div>
</script>
<script type="text/javascript">
  var $ = function (value) { return document.querySelector(value) }
  const MAX_JOB_NUMBER = 1;
  var jobTemplate = $('#jobTemplate').innerHTML
  mdc.autoInit.mdcAutoInit.register('MDCTextField', mdc.textfield.MDCTextField)
  mdc.autoInit.mdcAutoInit.register('MDCTextFieldHelperText', mdc.textfield.MDCTextFieldHelperText)
  mdc.autoInit.mdcAutoInit.register('MDCSwitch', mdc.switch.MDCSwitch)
  // [element control]
  const printerCard = {
    _setBwPrinterStatus(status, isHalted) {
      if (isHalted) {
        $('#bw-printer-status-icon').classList.remove('printer-status__unavaliable')
        $('#bw-printer-status-icon').classList.remove('printer-status__busy')
        $('#bw-printer-status-icon').classList.remove('printer-status__avaliable')

        $('#bw-printer-status-icon').classList.add('printer-status__fixing')
        $('#bw-printer-status').innerText = '维修或调试中'
        return
      }

      switch(status.state) {
        case 'idle':
          $('#bw-printer-status-icon').classList.remove('printer-status__unavaliable')
          $('#bw-printer-status-icon').classList.remove('printer-status__busy')
          $('#bw-printer-status-icon').classList.remove('printer-status__fixing')

          $('#bw-printer-status-icon').classList.add('printer-status__avaliable')
          $('#bw-printer-status').innerText = '就绪'
          break
        case 'printing':
          $('#bw-printer-status-icon').classList.remove('printer-status__unavaliable')
          $('#bw-printer-status-icon').classList.remove('printer-status__avaliable')
          $('#bw-printer-status-icon').classList.remove('printer-status__fixing')

          $('#bw-printer-status-icon').classList.add('printer-status__busy')
          $('#bw-printer-status').innerText = '忙碌中'
          break
        default:
        $('#bw-printer-status-icon').classList.remove('printer-status__busy')
        $('#bw-printer-status-icon').classList.remove('printer-status__avaliable')
        $('#bw-printer-status-icon').classList.remove('printer-status__fixing')

        $('#bw-printer-status-icon').classList.add('printer-status__unavaliable')
        $('#bw-printer-status').innerText = '不可用'
      }
      
    },
    /*
    _setColorPrinterStatus(status) {
      $('#color-printer-status-icon').classList.remove(status.state === 'idle' ? 'printer-status__unavaliable': 'printer-status__avaliable')
      $('#color-printer-status-icon').classList.add(status.state === 'idle' ? 'printer-status__avaliable': 'printer-status__unavaliable')
      $('#color-printer-status').innerText = status.message === '' ? '就绪' : status.message
    }, */
    setPrinterInfo (name, states, description) {
      console.log('setPrinterInfo: status: ', states)
      $('#printer-info').innerText = name
      this._setBwPrinterStatus(states.bw, states.halted)
      //this._setColorPrinterStatus(states.colored)
      $('#printer-description').innerText = description
    }
  }
  
  
  var  priceWarningDialog = new mdc.dialog.MDCDialog($('#recharge-dialog'))
  function popPriceWarning() {
    $('#total-price').innerText = currentStatus.totalCost / 100
    $('#total-kredit').innerText = currentStatus.kredit / 100
    priceWarningDialog.open()
  }
  var dialogBox = new mdc.dialog.MDCDialog($('#go-print-dialog'))
  function popDialog(jobCode) {
    $('#print-code').innerText = jobCode
    dialogBox.open()
  }

  var alertBox = new mdc.dialog.MDCDialog($('#alert-dialog'))
  function popAlert(message) {
    $('#alert-message').innerText = message
    alertBox.open()
  }
  var loadingBox = new mdc.dialog.MDCDialog($('#loading-dialog'))
  var startLoading = function(message) {
    $('#loading-title').innerText = message
    loadingBox.open()
  }
  var endLoading = function() {
    loadingBox.close()
  }
  loadingBox.scrimClickAction = loadingBox.escapeKeyAction = ""

  var debtBox = new mdc.dialog.MDCDialog($('#debt-dialog'))
  var popDebt = function() {
    $('#debt').innerText = currentStatus.debt / 100
    debtBox.open()
  }
  debtBox.scrimClickAction = debtBox.escapeKeyAction = ""
  

  var hideUploadField = function() {
    console.log('hideJob')
    $('#file-zone').classList.add('invisible')
  }
  var showUploadField = function() {
    console.log('showJob')
    $('#file-zone').classList.remove('invisible')
  }
  var addJob = function (fileName, code, id, config, pageCount) {
    startLoading('创建任务…')
    console.log("Trying to add job: ", fileName, code, id, config, pageCount)
    var price = 0
    ;(async ()=>{
      console.log("Getting price: ", config.colored)
      price = await getPrice(pageCount * config.copies, config.colored)
      currentStatus.totalCost += price
      if (currentStatus.totalCost > currentStatus.kredit) {
        popPriceWarning()
      }
      const el = document.createElement('div')
      el.classList.add('job-wrapper')
      el.innerHTML = jobTemplate
        .replace(/::jobTitle::/g, fileName)
        .replace(/::pageNumber::/g, pageCount)
        .replace(/::price::/g, price / 100)
        .replace(/::code::/g, code)
      $('#job-list').appendChild(el)
      mdc.autoInit.mdcAutoInit()

      var withCode = function(value) { return value + '-' + code}
      
      // about info
      var pageNumberInfo = $(withCode('#page-number'))
      var priceInfo = $(withCode('#price'))
      // about config
      var doubleSidedSwitch = $(withCode('#ds-switch')).MDCSwitch
      doubleSidedSwitch.checked = config['double-sided']
      var colorSwitch = $(withCode('#c-switch')).MDCSwitch
      colorSwitch.checked = config.colored
      var copiesTextfield = $(withCode('#c')).MDCTextField
      copiesTextfield.value = config.copies
      // about action
      var printButton = $(withCode('#go-print'))
      var deleteJobButton = $(withCode('#delete-job'))

      printButton.onclick = function() {
        popDialog(code)
      }

      deleteJobButton.onclick = function () {
        ;( async() =>{
          startLoading('删除中…')

          await deleteJob(code)
          $(withCode('#job')).remove()
          currentStatus.totalCost -= price
          endLoading()
        })()
      }

      console.log('log elements: ', doubleSidedSwitch, colorSwitch, copiesTextfield)
      $(withCode('#copies')).onchange = $(withCode('#double-sided-switch')).onchange = $(withCode('#color-switch')).onchange = function() {
        console.log('Value Changed')
        ;( async() =>{
          startLoading('更新打印配置…')
          console.log('sending current status:', id, doubleSidedSwitch.checked, colorSwitch.checked, Number(copiesTextfield.value), code)
          await updateConfig(id, doubleSidedSwitch.checked, colorSwitch.checked, Number(copiesTextfield.value), code)
          temporaryValue = await getPrice(pageCount * Number(copiesTextfield.value), colorSwitch.checked)
          currentStatus.totalCost -= price
          price = temporaryValue
          currentStatus.totalCost += price
          priceInfo.innerText = temporaryValue / 100
          if (currentStatus.totalCost > currentStatus.kredit) {
            popPriceWarning()
          }
          endLoading()
        })()
        if (copiesTextfield.value == null || copiesTextfield.value == '') copiesTextfield.value=1
        if (copiesTextfield.value * pageCount > 50) {

          copiesTextfield.value = Math.floor(50 / pageCount)
        }
        console.log('Value changed')
      }
    })()
    endLoading()
  }
  //end element control

  var currentStatus = {
    "codes": [],
    "kredit": 0,
    totalCost: 0,
    debt: 0
  }
  var currentPrinter = {
    "id": 255,
    "ip": '0.0.0.0',
    "avaliable": true,
    "name": '等待数据',
    "description": '等待数据。请确保您已经连接到学校的 WIFI',
    base: null,
  };
  printerCard.setPrinterInfo(currentPrinter.name, {"bw":{"state":"unavaliable","message":""},"colored":{"state":"idle","message":""},"halted":false}, currentPrinter.description)
  var constructEndpointURL = function (route) { return new URL(route, currentPrinter.base) }

  var updatePrinter = async function(silent) {
    if(!silent) startLoading('搜索局域网内的打印终端…')
    var printerConfigs = await fetch('/_api/printer-ips').then(res => res.json())

    console.log("Get printer config: ", printerConfigs)
    console.log(Object.keys(printerConfigs))
    for(var id of Object.keys(printerConfigs)) {
      var ip = printerConfigs[id]
      if(!silent) startLoading('尝试连接到打印机：#' + id)
      else {
        $('#printer-loading').style.opacity = 1
      }
      const base = new URL(`https://${ip.replace(/\./g, '-')}.ip.kcps.monster`)
      console.log("Trying printer id: ", id)
    
      try {
        const res = await new Promise( function(resolve, reject) {
          const timeout = setTimeout(function(){
            reject(new Error('Timeout.'))
          }, 1500)
          fetch(new URL('/status', base),{method: 'GET'}, 1).then(function(resp){resolve(resp)})
        }).then(res => res.json())
        
        if (res.status !== 0) throw res
        const config = res.response
        currentPrinter = {
          id,
          ip,
          status: config.status,
          name: config.name,
          description: config.message,
          base,
        }
        console.log('Status: ', config)
        printerCard.setPrinterInfo(currentPrinter.name, currentPrinter.status, currentPrinter.description)
        break
      } catch (e) {
        console.log('Failed.', e)
        continue
      }
    }
    $('#printer-logo').src="/static/img/logo.png"
    if (currentPrinter.base === null) {
      $('#printer-logo').src="/static/img/NotConnected.png"
      
      console.log("No printers Avaliable")

    }
    endLoading()
    $('#printer-loading').style.opacity = 0
  }

  var updatePrinterInfo = async function() {
    try {
      var res = await fetch(constructEndpointURL('/status')).then(res => res.json())
      if (res.status !== 0) throw res
      const config = res.response
      currentPrinter.description = config.message
      currentPrinter.status = config.status
    } catch(e) {
      console.log("Network Changed: ", e)
      updatePrinter(true)
    }
    printerCard.setPrinterInfo(currentPrinter.name, currentPrinter.status, currentPrinter.description)
  }

  var deleteJob = async function(code) {
    const token = await requestJobToken(code)
    return fetch(constructEndpointURL('/delete-job'), {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ token })
    })
  }

  var createJob = async function() {
    return await fetch('/_api/job-token').then(res => res.json())
  }
  var requestJobToken = async function(code) {
    return await fetch('/_api/job-token?code='+code).then(res => res.json())
  }
  var getPrice = async function(pageCount, colored) {
    console.log(`/_api/calculate-price?config={"page-count":${pageCount},"colored":${colored}}&printer_id=${currentPrinter.id}`)
    return await fetch(`/_api/calculate-price?config={"page-count":${pageCount},"colored":${colored}}&printer_id=${currentPrinter.id}`).then(res=>res.json()).then(response=> {
      if(response.status === 0) return response.result
      console.log('Error: ', response)
    })
  }
  
  var requestAllInfo = async function(codes, timestamp, sign) {
    return await fetch(constructEndpointURL('/get-configs'), {
      method: 'post',
      body: JSON.stringify({
        codes,
        timestamp,
        sign
      }),
      headers: {
        'Content-Type': 'application/json',
      },
    }).then(res => res.json())
  }

  var updateConfig = async function(id, doubleSided, withColor, copies, code) {
    return await fetch(constructEndpointURL('/set-config'), 
      {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'id': id,
          'config': {
            'copies': copies,
            'colored': withColor,
            'double-sided': doubleSided 
          },
          token: await requestJobToken(code)
        })
      }
    ).then(res => res.json())
  }

  var uploadFile = async function(fileObject) {
    startLoading('上传文件中…')

    var fileForm = new FormData()
    fileForm.append("file", fileObject)
    var token = await createJob()
    if(typeof token['status'] !== 'undefined' && token.status === 1){
      popAlert('您上传的文件数量已经达到最大允许值')
    }
    fileForm.append("token", JSON.stringify(await createJob()))
    return await fetch(constructEndpointURL('/job'),{
      method: 'POST',
      body: fileForm
    }).then(res => res.json()).then(function(response) {
      endLoading()
      if (response.status === 0) {
        response = response.response
        addJob(fileObject.name, response.code, response.id, response.config, response['page-count'])
      }
    })
  }

  
  
  // get the session and update the currentStatus
  var getSession = async function() {
    return await fetch('/_api/session').then(res => res.json())
  }

  var updateSession = async function() {
    startLoading('获取数据…')
    var sessionObject = await getSession()
    // get job info
    if (currentPrinter.base !== null) {
      var jobInfo = await requestAllInfo(sessionObject.codes, sessionObject.timestamp, sessionObject.sign)
      console.log('Got job info: ', jobInfo)
      if(jobInfo.status === 0) {
        for(var config of jobInfo.response) {
          console.log("Loading Job: ", config)
          // detect whether the job exists
          if($('#job-'+ config.code) === null)
            addJob(config.file, config.code, '', config.config, config.pageCount)
        }
      }
    }
    if(sessionObject.debt > 0) {
      currentStatus.debt = sessionObject.debt
      popDebt()
    }
    currentStatus.kredit = sessionObject.kredit
    $('#kredit').innerText = Number(currentStatus.kredit) / 100
    currentStatus.codes = sessionObject.codes
    endLoading()
  }

  const dragAndDropZone = document.getElementById('file-zone')
  const infoBox = document.getElementById('upload-info')
  const file = document.getElementById('file')

  var t;
  function setMessage(message) {
    infoBox.style.opacity = 1;
    infoBox.innerText = message;
  }

  dragAndDropZone.ondragover = dragAndDropZone.ondragenter = function (evt) {
    evt.preventDefault();
    dragAndDropZone.classList.add('file-drop-zone__focused');
    infoBox.style.opacity = 0;
  };
  dragAndDropZone.ondragleave = function (evt) {
    evt.preventDefault();
    dragAndDropZone.classList.remove('file-drop-zone__focused');

    setMessage('☺️ 拖拽文件到这里');
  }
  dragAndDropZone.ondrop = function (evt) {
    evt.preventDefault();
    dragAndDropZone.classList.remove('file-drop-zone__focused');
    console.log(evt.dataTransfer.files[0]);
    t = evt.dataTransfer.files[0];
    if (evt.dataTransfer.files[0].type !== 'application/pdf') {
      setMessage('💀 请上传 PDF 文件');
      return;
    }
    file.files = evt.dataTransfer.files
    
    setMessage('🤗 好嘞，正在上传' + evt.dataTransfer.files[0].name);
    uploadFile(evt.dataTransfer.files[0])
  };
  file.addEventListener('change', function (e) {
    console.log('Event change', e)
    t = file.files[0];
    console.log('file: ', t)
    if (t.type !== 'application/pdf') {
      setMessage('💀 请上传 PDF 文件');
      return;
    }
    setMessage('🤗 好嘞，正在上传' + t.name);
    // TODO
    uploadFile(t)
  })
  ;(async()=>{
    
    await updatePrinter(false)

    await updateSession()
    setInterval(function() {
      ;(async() =>{
         await updatePrinterInfo()
      })()
    }, 5000)
    setInterval(function() {
      ;(async() =>{
         await updateSession()
      })()
    }, 30000)
  })()
</script>
{% endblock script%}