{% extends 'framework.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/static/css/q-and-a.css" />
{% endblock stylesheet %}

{% block header%}
  <a class="mdc-button" href="/welcome">
    <i class="material-icons app-bar-text">home</i>
  </a>
{% endblock header%}
{% block content %}
  <h2 class="mdc-typography--headline2">常见问题问答</h2>
  <div class="question-and-answer-container">
    <div class="mdc-card mdc-card--outlined question-and-answer-panel">
      <div class="question-and-answer-panel__question">为何不继续使用微信?</div>
      <div class="question-and-answer-panel__answer">
        <p>1、之前使用微信的运作模式违反了
          <a href="https://weixin.qq.com/agreement?lang=zh_CN" target="_blank">《腾讯微信软件许可及服务协议》</a>
          中 8.2.1.4 所规定的条款，属于违法行为。</p>
        <p>2、鉴于微信对网页版的限制，我们无法保证服务的稳定性。</p>
        <p>3、微信机器人使用交互不够便利。</p>
      </div>
    </div>

    <div class="mdc-card mdc-card--outlined question-and-answer-panel">
      <div class="question-and-answer-panel__question">只能打印PDF?</div>
      <div class="question-and-answer-panel__answer">
        <p>这是为了保证排版与打印效果</p>
        <p>你也许经历过把演示文稿从 KeyNotes 导出到 Windows 里面字体乱了套的情况。
        类似地，如果你使用了极具个性的字体
        而打印机没有这种字体的话，则会出现乱套的情况。</p>
        <p>考虑到每一台电脑都支持将文档打印成 PDF 的格式，我们希望您把文件打印成 PDF 格式然后上传打印。</p>

        <a class="mdc-button mdc-button--outlined" href="/advanced_tips">点击这里了解如何操作</a>
      </div>
    </div>

  </div>
{% endblock content %}