{% extends 'framework.html' %}

{% block title %}KEEER Cloud Print{% endblock title %}
    
{% block stylesheet %}
  <link rel="stylesheet" href="/static/css/welcome.css" />
{% endblock stylesheet %}

{% block content %}
  <div class="introduction-panel">
    <div class="introduction-panel__content">
       <h3 class="mdc-typography--headline3">Cloud Print</h3>
       <p class="mdc-typography--headline5">在云端 更好的打印</p>
       <p>
        <a class="mdc-button mdc-button--outlined" href="{{ LOGIN_URL }}">
          <span class="mdc-button__ripple"></span>
          <i class="material-icons mdc-button__icon">arrow_forward</i>
          <span class="mdc-button__label">开始使用</span>  
        </a>
      </p>
      <p>
        <a class="mdc-button" href="/advanced-tips">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">高级使用技巧</span>
        </a>
      </p>
    </div>
  </div>

  <h2 class="mdc-typography--headline2">关于Cloud Print</h2>
  <a class="mdc-button" href="/Q-A">
    <i class="material-icons mdc-button__icon">info_outlined</i>
    <span class="mdc-button__label">常见问题及解答</span> 
    </a>
  <div class="feature-container">

    <div class="feature-panel">
      <img src="/static/img/connection.png" class="feature-panel__logo" />
      <div class="feature-panel__content">
        <div class="feature-panel__title">KEEER 连为一体的账号平台</div>
        <p>如果您使用过 万圣节鬼屋门票平台，那么您甚至无需注册新的账号！您之前购买门票剩余的充值金额也可用于 Cloud Print</p>
      </div>
    </div>

    <div class="feature-panel">
      <img src="/static/img/save_money.png" class="feature-panel__logo" />
      <div class="feature-panel__content">
        <div class="feature-panel__title">再无需担心吞钱</div>
      <p>我们改善了支付的机制，使得您支付时再也不用担心那讨厌的倒计时与吞钱的问题。</p>
      </div>
    </div>

    <div class="feature-panel">
      <img src="/static/img/secure.png" class="feature-panel__logo" />
      <div class="feature-panel__content">
        <div class="feature-panel__title">我们保障您的信息安全</div>
        <p>全部传输都被加密，您的数据将被服务器安全地存储。我们承诺不会浏览您上传的文档。
        </p>
      </div>
    </div>
        
    <div class="feature-panel">
      <img src="/static/img/debug.png" class="feature-panel__logo" />
      <div class="feature-panel__content">
        <div class="feature-panel__title">大幅减少的 Bug 数量</div>
        <p>我们花费了大量心血设计软件的架构与调试使得 Bug 大幅减少。</p>
      </div>
    </div>

  </div>
{% endblock content %}